
.comment {
  color: @syntax-comment-color;
  font-style: italic;

  .punctuation.definition {
    color: @syntax-comment-color;
  }
  .todo {
    color: @magenta;
  }
}

.string {
  &.quoted {
    color: @cyan;
  }
  &.regexp {
    color: @red;
  }
}

.constant {
  &.numeric {
    color: @yellow;
  }
  &.language {
    color: @yellow;
  }
  &.character,
  &.other {
    color: @orange;
  }
}

.variable {
  color: @blue;
}

.keyword {
  color: @green;
}

.operator, .operator.keyword {
  color: @magenta;
}

.storage {
  color: @green;
}

.entity {
  &.name {
    &.class,
    &.type,
    &.function {
      color: @blue;
    }
  }
  &.other.attribute-name {
    color: @violet;
  }
}

.support {
  &.function {
    color: @blue;
    &.builtin {
      color: @green;
    }
  }
  &.type,
  &.class {
    color: @green;
  }
}

.html.tag {
  &.entity.name {
    color: @blue;
  }
  &.punctuation.definition {
    color: @magenta;
  }
}

.doctype {
    color: @yellow;
}

.invalid {
  &.deprecated {
    color: @yellow;
    text-decoration: underline;
  }
  &.illegal {
    color: @red;
    text-decoration: underline;
  }
}

.none {
  color: @syntax-text-color;
}

.meta.brace,
.bracket.round,
.punctuation.definition,
.punctuation.scope {
    color: @orange;

    &.string {
        color: @cyan;
    }
}

.makefile {
  &.name.function {
    color: @yellow;
  }

  &.variable.language {
    color: @magenta;
  }
}
