.syntax--css
{
    .syntax--punctuation
    {
        &.syntax--separator,
        &.syntax--terminator
        {
            color: @orange;
        }
        &.syntax--property-list,
        &.syntax--media
        {
            &.syntax--begin,
            &.syntax--end
            {
                color: @orange;
            }
        }
        &.syntax--section.syntax--function
        {
            color: @cyan;
        }
    }

    // selectors

    .syntax--entity
    {
        &.syntax--name
        {
            color: @green;
        }
        &.syntax--class
        {
            color: @blue;
            & > .syntax--punctuation
            {
                color: inherit;
            }
        }
        &.syntax--id
        {
            color: @magenta;
            & > .syntax--punctuation
            {
                color: inherit;
            }
        }
        &.syntax--pseudo-element,
        &.syntax--pseudo-class
        {
            color: @yellow;
        }
    }
    .syntax--attribute-selector
    {
        .syntax--punctuation,
        .syntax--attribute-name
        {
            color: @violet;
        }
    }

    .syntax--at-rule
    {
        color: @magenta;
        & > .syntax--punctuation
        {
            color: inherit;
        }
    }

    .syntax--keyword.syntax--important
    {
        color: @red;
    }

    // properties

    .syntax--property-name
    {
        color: @yellow;
    }
    .syntax--property-value
    {
        color: @cyan;
    }
    .syntax--constant.syntax--numeric
    {
        color: @cyan;
        .syntax--unit
        {
            color: @cyan;
        }
    }
    .syntax--rgb-value
    {
        color: @cyan;
    }
    .syntax--support.syntax--constant
    {
        color: @cyan;
        &.syntax--media
        {
            color: @red;
        }
    }
}


// Less/Sass should have their own files,
// but for just a single override, here should be fine too

.syntax--source.syntax--less,
.syntax--source.syntax--scss
{
    .syntax--keyword.syntax--unit
    {
        color: @cyan;
    }
}
