<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>{{ title }}</h1>
        {{#faces}}
        <p class="smiley">Smiley face: {{name}}</p>
        {{/faces}}
        <div>{{missing?}}</div>
    </body>
</html>
