// Background/Foreground Tones
@grayscale_00: #0f0f0f; // background
@grayscale_10: #1a1a1a; // selection: background, gutter: background
@grayscale_20: #272727; // guides & invis chars, gutter: selection background
@grayscale_30: #6e6e6e; // gutter text, comments
@grayscale_40: #8b8b8b; // text color
@grayscale_50: #aeaeae; // search results: other, selection: flash
@grayscale_60: #e3e3e3; // cursor, search results: selected

// Colors
@yellow: #b58900;
@orange: #cb4b16;
@red: #dc322f;
@magenta: #d33682;
@violet: #6c71c4;
@blue: #268bd2;
@cyan: #2aa198;
@green: #859900;
